* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
#map {
  height: 100vh;
  width: 100vw;
}
/*remove all map intrinsic controls */
.leaflet-touch .leaflet-control-geocoder,
.leaflet-touch .leaflet-bar {
  display: none;
}
.map_overlay {
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay with 50% opacity */
  position: absolute;
  /* Ensure it sits over the map */
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.content {
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 9999;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.weather_data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.w-data {
  display: flex;
  justify-content: space-between;
}
.date-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.date {
  font-size: 5rem;
  color: white;
}
.day,
.time {
  font-size: 1.3rem;
  align-self: center;
}
.day {
  transform: translateY(2rem);
}
.time {
  transform: translateY(-1.5rem);
}
.main_img_div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.main_img_div img {
  width: 100%;
  height: 100%;
}
.condition_text_img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.condition_text {
  font-size: 1.3rem;
  color: white;
}

.current_temp {
  display: flex;
  justify-content: space-between;
}

.temp {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  box-shadow: 1px 1px 1px grey;
  margin-top: -1rem;
}
.current_temp p:first-child {
  font-size: 1.3rem;
  color: white;
}
/* .current_temp div:last-child {
} */
.current_temp div:last-child img {
  width: 80%;
  height: 80%;
}
.forecast {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}
.air_condition {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px;
  padding: 20px 0;
  background: #291b1b;
  /* background-clip: content-box; */
}
.air_condition > * {
  flex-grow: 1;
  border-right: 1px solid black;
  padding: 0 1rem;
}

.air_condition > span:last-child {
  border: none !important;
}
.air_condition p {
  font-size: 1rem;
}
.air_condition span {
  font-size: 0.7rem;
}
.hours {
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  position: relative;
}
.next_hours {
  position: absolute;
  top: 0;
  left: 20px;
}
.next_four_hours {
  display: flex;
  padding: 10px 0;
  width: 600%;
}
.next_four_hours > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1rem;
  /* border: 1px solid green; */
  background: #291b1b;
}
.next_four_hours > div > span:first-child {
  font-size: 1.5rem;
}
.next_four_hours > div > span:last-child {
  font-size: 1rem;
}
